/* styles */
/* called by your view template */

@import url('https://fonts.googleapis.com/css?family=Overlock:400,700');

body{
  text-align:center;
 font-family: 'Overlock', cursive;
  font-size: 1.1rem;
}

main{
  margin-left:20%;
  padding: 10px 20px 0 20px;
  background:#997;
  text-align:left;
  width:60%;
  height:75vh;
  box-shadow:2px 2px 10px;
}
 ul{
   height:30%}
.examples{
  display:flex;}

.testing,.output{
  margin-left:40px;
  padding-bottom:30px;
}

footer{
  margin: 10px 0 10px 0;
  font-weight:bold;
}